.Meals {
  display: flex;
  justify-content: space-between;
  max-height: 400px;
  margin: 30px;
  overflow: auto;
  .meal-container {
    margin-right: 30px;
    cursor: pointer;
    img {
      border-radius: 10px;
      width: 200px;
    }
  }
}
