.Meals {
  display: flex;
  max-height: 400px;
  margin: 30px;
  overflow: auto;
  .meal-container {
    margin-right: 30px;
    cursor: pointer;
    img {
      border-radius: 10px;
      width: 200px;
    }
  }

  .toggle-recipe-btn {
    display: flex;
    align-items: center;
    border: none;
    margin-left: 5px;
    padding: 10px;
    border-radius: 5px;
    background-color: transparent;
    color: #37474f;
    .chevron {
      margin-right: 5px;
    }
  }

  .card {
    width: 100%;
  }
  .card-header {
    display: flex;
    cursor: pointer;
  }
  .card-body {
    padding: 0;
    display: flex;
    overflow: auto;
    margin: 20px;
  }
}
