.Recipies {
  background-color: #eeeeee;
  padding: 40px;
  .category-container {
    background-color: white;
    border: 1px solid #cccbcb;
    border-radius: 10px;
    margin-bottom: 20px;
  }
  .category-discription {
    display: block;
    padding: 20px 30px;
    img {
      max-width: 200px;
    }
    .text-container {
      width: 100%;
      .recipe-btn {
        border: none;
        padding: 10px;
        border-radius: 5px;
        background-color: #57bbe9;
        color: white;
        cursor: pointer;
      }
    }
    p {
      text-align: left;
      padding-left: 20px;
    }
  }
}

@media only screen and (min-width: 600px) {
  .Recipies {
    .category-discription {
      display: flex;
      justify-content: flex-start;
      align-items: center;
    }
  }
}
