.Recipies {
  padding: 40px;
  .category-container {
    border: 1px solid grey;
    border-radius: 5px;
    margin-bottom: 20px;
    cursor: pointer;
  }
  .category-discription {
    display: block;
    padding: 20px 30px;
    img {
      max-width: 200px;
    }
    .text-container {
      width: 100%;
      .recipe-btn {
        cursor: pointer;
        color: blue;
        text-decoration: underline;
      }
    }
    p {
      text-align: left;
      padding-left: 20px;
    }
  }
}

@media only screen and (min-width: 600px) {
  .Recipies {
    .category-discription {
      display: flex;
      justify-content: flex-start;
      align-items: center;
    }
  }
}
