.RecipeDetail {
  padding: 30px;

  .back {
    float: left;
    font-size: 20px;
    cursor: pointer;
    .back-icon {
      margin-right: 5px;
      margin-top: -3px;
    }
  }

  h2 {
    margin: 20px 0;
  }
  img {
    width: 30vw;
    min-width: 300px;
    max-width: 500px;
    border-radius: 10px;
    margin: 10px 0;
  }

  .text-container {
    padding: 50px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  }
  .youtube-container {
    display: flex;
    justify-content: center;
  }
  .ingredients-container,
  .instructions {
    display: grid;
    justify-content: center;
  }

  li {
    text-align: left;
  }
}

@media only screen and (max-width: 600px) {
  .RecipeDetail {
    padding: 5px;
    .text-container {
      padding: 5px;
    }
  }
}
